.form-validation {
  .form-control,
  .form-select {
    font-size: 13px;
    line-height: 18px;
    padding-top: 11px;
    padding-bottom: 11px;
  }
}
.contactWrapper {
  padding: 30px 20px;
  @media (min-width: 576px) {
    padding: 40px;
  }
  @media (min-width: 992px) {
  }
}
.countryCode {
  .form-select {
    flex: 0 0 113px;
  }
  .form-control {
    flex: 1;
  }
}
