.wrapper-section {
  .part-one {
    margin: 0 auto;
    max-width: 730px;
    text-align: center;
  }
  .owl-carousel {
    .owl-stage {
      display: flex;
    }
    .owl-item {
      .item-wrapper,
      & > div {
        height: 100%;
      }
    }
  }
  .blogWrapper {
    padding-top: 80px;
  }
}

.contactDetails {
  .top-content-part {
    display: none;
  }
}
.newslatter {
  .sectionHeader {
    max-width: unset;
    .secTitle,
    .secIntro {
      margin-bottom: 30px !important;
    }
  }
}

.contactDetails {
  padding-top: 90px !important;
  @media (min-width: 1200px) {
    padding-top: 220px !important;
  }
}
