.wrapper-section {
  .part-one {
    margin: 0 auto;
    max-width: 730px;
    text-align: center;
  }
  .owl-carousel {
    .owl-stage {
      display: flex;
    }
    .owl-item {
      .item-wrapper,
      & > div {
        height: 100%;
      }
    }
  }
  .blogWrapper {
    padding-top: 80px;
  }
  &.WhoWeAre {
    @media (min-width: 1200px) {
      .sectionHeader {
        padding-left: 60px;
      }
    }
  }
  &.OurMission {
    @media (min-width: 1200px) {
      .part-one {
        padding-right: 60px;
      }
    }
  }
}

.contactDetails {
  .top-content-part {
    display: none;
  }
}


.contactDetails {
  padding-top: 90px !important;
  @media (min-width: 1200px) {
    padding-top: 220px !important;
  }
}
