.ourServices {
  .media-block {
    &:hover {
      .block-part-one {
        .block-title {
          a,
          span {
            color: var(--clr-green);
          }
        }
      }
      .block-part-two {
        a {
          color: var(--clr-green);
          span {
            margin-right: 7px;
          }
          // i {
          //   color: var(--clr-green);
          // }
          svg * {
            stroke: var(--clr-green);
          }
        }
      }
    }
  }
}
