.BlogSingleWrapper {
  .BlogSingFeatheredImg {
    .img-blog-single {
      border-radius: 8px;
    }
  }
  .author-image {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
  }
  .blogFeathered {
    .author-image {
      width: 22px;
      height: 22px;
    }
  }
  .SingleSidebar {
    .searchInput {
      .form-control {
        border-radius: 100px;
        background-color: transparent;
        height: 52px;

        border: 1px solid #4c4d54;
        background-image: url("data:image/svg+xml,%3Csvg width='21' height='22' viewBox='0 0 21 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.1875 16.5356C12.8119 16.5356 15.75 13.5975 15.75 9.97314C15.75 6.34878 12.8119 3.41064 9.1875 3.41064C5.56313 3.41064 2.625 6.34878 2.625 9.97314C2.625 13.5975 5.56313 16.5356 9.1875 16.5356Z' stroke='%238D8F98' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M18.375 19.1606L14 14.7856' stroke='%238D8F98' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-position: left 20px center;
        background-repeat: no-repeat;
        padding-left: 52px;
        color: #fff;

        &:focus {
          box-shadow: none !important;
        }
      }
    }
    .borderBottom {
      border-bottom: 1px solid #4c4d54;
    }
    .gradientBorder {
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        #ffffff 48.44%,
        rgba(255, 255, 255, 0) 100%
      );
      opacity: 0.2;
      height: 1px;
      width: 100%;
    }
    .gradientBorder2 {
      height: 2px;
      width: 40%;
      background: linear-gradient(
        90deg,
        #00ffa3 0%,
        rgba(0, 255, 163, 0.1) 100%
      );
      border-radius: 100px;
    }
    .BlogPost {
      cursor: pointer;
      transition: 0.3s all linear;
      &:hover {
        p {
          color: #fff;
        }
      }
    }
    .socialLink {
      background-color: var(--clr-menu-light);
    }
    .linkedinProfileLink {
      width: 114px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #0077b5;
      border-radius: 100px;
      gap: 4px;
      cursor: pointer;
      transition: 0.2s all linear;
      span {
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
        color: #fff;
        text-decoration: none;
      }

      &:hover {
        background-color: #049df0;
      }
    }
  }
  .BlogSingleContentArea {
    .blogInnerContent {
      .blogInnerDescription {
        p {
          line-height: 26px;
          color: #8d8f98;
          b {
            color: #fff;
          }
          a {
            color: var(--clr-green);
          }
        }
      }
      .quoteText {
        background: linear-gradient(
          93.48deg,
          #191a1d 0%,
          rgba(25, 26, 29, 0) 100%
        );
        border-radius: 0px 12px 12px 0px;
        .quoteTitle {
          line-height: 40px;
        }
      }
    }
  }
}
