// activity-grid-container
.activity-grid-container {
  display: grid;
  grid-gap: 25px;
  align-items: center;
  grid-template-columns: auto auto;
  .items {
    cursor: pointer;
    overflow: hidden;
    background: linear-gradient(180deg, #191a1d 0%, rgba(25, 26, 29, 0) 100%);
    border: 1px solid #202124;
    border-radius: var(--16px);
    text-align: center;
    padding: 35px;
    width: 100%;
    .icon {
      transition: all 0.3s linear;
    }
    .count {
      color: #8d8f98;
    }
    &:first-child {
      grid-row-end: span 2;
    }
    &:hover {
      .icon {
        transform: scale(1.1);
        svg * {
          fill: #00ffa3 !important;
        }
      }
    }
  }
}

//activity-grid-container
