.TestimonialsSlider {
  padding-left: 90px;
  padding-right: 90px;
  @media (max-width: 992px) {
    padding-left: 0;
    padding-right: 0;
  }
  .owl-theme .owl-nav {
    margin-top: 30px;
    text-align: center;
    .owl-prev {
      @media (min-width: 1200px) {
        left: -60px;
      }
    }
    .owl-next {
      @media (min-width: 1200px) {
        right: -60px;
      }
    }
    @media (min-width: 1200px) {
      margin-top: 0;
      [class*="owl-"] {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
      }
    }
  }
  .singleFeedback {
    .logos {
      img {
        height: 30px;
        width: auto;
      }
    }
    .pic {
      img {
        width: 45px;
        height: 45px;
      }
    }
  }
  .slick-slide {
    margin: 0 16px;
  }
}
