.rotating-border {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  -webkit-box-shadow: 2px 0px 0px 0px #00ffa3;
  box-shadow: 2px 0px 0px 0px #00ffa3;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: block;
  margin-top: -55px;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
