.section-wrapper {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  hr {
    background-image: url("../../assets/images/secLineShape.svg");
    display: inline-block;
    clear: both;
    height: 2px;
    width: 100px;
    border-style: none;
    opacity: 1;
    background-color: transparent;
    margin-top: 4px;
    margin-bottom: 60px;
  }
  .col-md-6 {
    hr {
      margin-bottom: 40px;
    }
  }
  .col-md-12 {
    .part-one {
      width: 100%;
      max-width: 730px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .part-one {
    .secTagLine {
      color: var(--clr-green);
      margin-bottom: 1rem;
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
    }
    .secTitle,
    .secIntro {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-bottom: 1rem;
        font-weight: 400;
        color: #fff;
        line-height: 1.2;
        margin-bottom: 1.3rem;
      }
      h1 {
        font-size: 42px;
      }
      h2 {
        font-size: 30px;
      }
      h3 {
        font-size: 26px;
      }
      h4 {
        font-size: 22px;
      }
      h5 {
        font-size: 20px;
      }
      h6 {
        font-size: 18px;
      }
      p {
        color: var(--clr-gray);
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
  .part-two {
  }
  &.contentCenter {
    text-align: center;
    .part-two-button {
      display: block;
      text-align: center;
    }
  }
  &.who-we-are {
    .part-two {
      .media-group {
        .row {
          display: block !important;
          & > div {
            max-width: 50% !important;
            float: left !important;
            margin-bottom: 0 !important;
            text-align: center;
            .media-block {
              &.template-1 {
                padding: 40px;
                .block-part-one {
                  .custom-html,
                  .block-image {
                    margin-bottom: 15px;
                  }
                }
                .block-title {
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 22px;
                  color: #6b6e78;
                  margin-bottom: 3px;
                }
                .block-desc {
                  font-weight: 500;
                  font-size: 30px;
                  line-height: 40px;
                  color: #8d8f98;
                }
              }
            }
            &:first-child {
              margin-top: 50%;
              transform: translateY(-70%);
            }
          }
          &::after {
            content: "";
            display: table;
            width: 100%;
            height: 1px;
            clear: both;
          }
        }
      }
    }
  }
  &.our-mission {
    .row {
      align-items: center;
    }
  }
  @media (min-width: 768px) {
    .part-one {
      .secTagLine {
        font-size: 1rem;
        line-height: 26px;
      }
      .secTitle,
      .secIntro {
        h1 {
          font-size: 56px;
        }
        h2 {
          font-size: 48px;
        }
        h3 {
          font-size: 38px;
        }
        h4 {
          font-size: 30px;
        }
        h5 {
          font-size: 26px;
        }
        h6 {
          font-size: 20px;
        }
        p {
          font-size: 1rem;
        }
      }
    }
  }
  @media (min-width: 1200px) {
    .part-one {
      .secTagLine {
        font-size: 1rem;
      }
      .secTitle,
      .secIntro {
        h1 {
          font-size: 72px;
        }
        h2 {
          font-size: 48px;
        }
        h3 {
        }
        h4 {
        }
        h5 {
        }
        h6 {
        }
        p {
        }
      }
    }
  }
}
