@import "../../mixing.scss";
.secPadding {
  a:not(.btn) {
    &:hover {
      color: var(--clr-green);
    }
  }
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  .col-lg-6 {
    .btn-wrapper {
      margin-top: 24px;
    }
  }
  .col-lg-12,
  .col-sm-12 {
    .part-one {
      width: 100%;
      max-width: 730px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &.OurMission {
    .part-two {
      text-align: center !important;
    }
    @media (min-width: 1200px) {
      .part-two {
        text-align: right !important;
        margin-bottom: 0 !important;
      }
    }
  }
  &.contentCenter {
    text-align: center;
    .part-two-button {
      display: block;
      text-align: center;
    }
  }
  &.who-we-are {
    .part-two {
      .media-group {
        .row {
          display: block !important;
          & > div {
            max-width: 50% !important;
            float: left !important;
            margin-bottom: 0 !important;
            text-align: center;
            .media-block {
              &.template-1 {
                padding: 40px;
                .block-part-one {
                  .custom-html,
                  .block-image {
                    margin-bottom: 15px;
                  }
                }
                .block-title {
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 22px;
                  color: #6b6e78;
                  margin-bottom: 3px;
                }
                .block-desc {
                  font-weight: 500;
                  font-size: 30px;
                  line-height: 40px;
                  color: #8d8f98;
                }
              }
            }
            &:first-child {
              margin-top: 50%;
              transform: translateY(-70%);
            }
          }
          &::after {
            content: "";
            display: table;
            width: 100%;
            height: 1px;
            clear: both;
          }
        }
      }
    }
  }
  &.newslatter {
    .part-one {
      margin-bottom: 0 !important;
      .secIntro {
        h2,
        p {
          margin-bottom: 30px;
        }
      }
    }
  }
  &.company-benefits {
    .media-block.template-1 .block-part-one .block-title {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      @media (min-width: 992px) {
        font-size: 24px;
        line-height: 34px;
      }
    }
  }
  &.service-detail-section {
    .row {
      .row {
        // justify-content: center;
      }
    }
  }
  &.about-0 {
    .col-lg-6.order-lg-last {
      margin-bottom: 10px;
      @media (min-width: 576px) {
        margin-bottom: 20px;
      }
      @media (min-width: 992px) {
        margin-bottom: 0;
      }
    }
  }
  &.service-detail-content {
    .part-two {
      .block-unit {
        width: 100%;
        &:first-child {
          .media-block {
            padding-left: 0;
            @media (min-width: 992px) {
              padding-right: 80px;
            }
          }
        }
        @media (min-width: 992px) {
          width: 50%;
        }
      }
    }
  }
  &.service-detail-section {
    .media-block {
      .block-image {
        position: relative;
        display: block;
        width: 100%;
        padding: 0;
        overflow: hidden;
        &::before {
          display: block;
          content: "";
          padding-top: 100%;
        }
        img {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
      &:hover {
        .block-part-one {
          .block-title {
            a {
              color: var(--clr-white);
            }
          }
        }
      }
    }
  }
  &.workshops-1 {
    @media (min-width: 576px) {
      .col-sm-6 {
        width: 33.33333333%;
      }
    }
  }
  &.WhoWeAre {
    @media (min-width: 1200px) {
      .activity-grid-container {
        padding-right: 60px;
      }
    }
  }
  &.home-our-portfolios {
    .owl-dots {
      margin-top: 30px !important;
      @media (min-width: 576px) {
        margin-top: 40px !important;
      }
      @media (min-width: 992px) {
        display: none;
      }
    }
  }
  &.google-cloud-development-1 {
    .btn-wrapper {
      margin-top: 20px;
    }
  }
}
