.footer {
  background-image: url(../../assets/images/footer-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .contacts {
    a {
      transition: all 0.2s linear;
      &:hover {
        text-decoration: underline !important;
        color: var(--clr-green);
      }
    }
  }
  .footerWidgetArea {
    .widgetMenu {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: space-between;
      @media (min-width: 576px) {
        grid-template-columns: repeat(5, 1fr);
      }
      .widgetList {
        .dropdown {
          display: none;
        }
        li {
          a {
            margin-bottom: 1rem;
            transition: all 0.2s linear;
            color: var(--clr-gray);
            text-decoration: none;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            display: block;
            margin-bottom: 10px;
            &:hover {
              color: var(--clr-green) !important;
            }
          }
        }
      }
    }
  }
  .social {
    ul {
      li {
        a {
          color: var(--clr-grayDark);
          i {
            &:before {
              font-size: 20px;
              line-height: 20px;
            }
          }
          svg {
            transition: all 0.2s linear;
          }
          &:hover {
            svg * {
              fill: var(--clr-green) !important;
            }
          }
        }
      }
    }
  }
  .copyright {
    .copyrightText {
      p {
        margin-bottom: 0;
        display: flex;
        align-items: center;
        span {
          display: inline-block;
          padding-left: 20px;
        }
      }
    }
  }
  .Careers {
    a {
      transition: all 0.3s linear;
      &:hover {
        background-color: #f4216d !important;
      }
    }
  }
}
