/* @import url(./assets/fonts/biennale-font.css); */
@import url(./assets/fonts/biennale-font.css);

body {
  font-family: "Biennale" !important;
  background-color: var(--clr-theme-dark) !important;
  color: #ffffff;
}

:root {
  --clr-theme-dark: #121316;
  --clr-dark-light: #191a1d;
  --clr-gray: #aaadb7;
  --clr-grayDark: #6b6e78;
  --clr-grayDeep: #4c4d54;
  --clr-green: #00ffa3;
  --clr-pink: #ff317b;
  --clr-yellow: #ffb156;
  --clr-blue: #4991ff;
  --clr-purple: #7879f1;
  --clr-sky: #4cffff;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1134px !important;
    width: 100% !important;
  }
}

/* ==== custom classes ==== */
.fs-12 {
  font-size: 12px;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-6 {
  line-height: 26px;
}
.fs-18 {
  font-size: 18px;
  line-height: 30px;
}
.fs-22 {
  font-size: 22px;
  line-height: 32px;
}
.fs-48 {
  font-size: 48px;
  line-height: 56px;
}
.fs-72 {
  font-size: 72px;
  line-height: 90px;
}

.textClrGray {
  color: var(--clr-gray);
}
.textClrGrayDark {
  color: var(--clr-grayDark);
}
.textClrGreen {
  color: var(--clr-green);
}
.textClrGrayDeep {
  color: var(--clr-grayDeep);
}
.bgClrDark {
  background-color: var(--clr-theme-dark);
}
.bgClrDarkLight {
  background-color: var(--clr-dark-light);
}
.bgClrPink {
  background-color: var(--clr-pink) !important;
}

.fw-medium {
  font-weight: 500;
}
.fwSemiBold {
  font-weight: 600 !important;
}
.fwBlack {
  font-weight: 900;
}
.h-42 {
  height: 42px;
}
.h-52 {
  height: 52px;
}

.secPadding {
  padding: 120px 0;
}
.pt-120 {
  padding-top: 120px;
}
.isRadius16 {
  border-radius: 16px;
}
.gw-btn {
  .btn {
    transition: all 0.2s linear;
    background-color: var(--clr-pink);
    &:hover {
      background-color: #f4216d;
    }
  }
}

.isBgBorder {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      #ffffff 48.44%,
      rgba(255, 255, 255, 0) 100%
    );
    opacity: 0.2;
  }
}
.isBgBorderRight {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      #ffffff 48.44%,
      rgba(255, 255, 255, 0) 100%
    );
    opacity: 0.15;
  }
}
/* ==== custom classes ==== - END*/

/* ==== slider arrow css */
.slick-prev {
  left: -60px !important;
}
.slick-next {
  right: -60px !important;
}
.slick-prev,
.slick-next {
  width: 40px !important;
  height: 40px !important;
  transition: all 0.2s linear;
  background-color: var(--clr-dark-light) !important;
  border-radius: 50%;
  &:hover {
    background-color: var(--clr-green) !important;
    &::before {
      color: #121316 !important;
    }
  }
}
.slick-prev:before,
.slick-next:before {
  font-size: 20px !important;
  transition: all 0.2s linear;
}
/* ==== slider arrow css - END */
img {
  max-width: 100%;
  height: auto;
}
