.custom-audio-player {
  width: 100%;
  background: #202124;
  border-radius: 16px;
  padding: 32px;

  .action-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .play {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 12px;
        color: #fff;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
      .play-pause {
        background-color: transparent;
        border: none;
        cursor: pointer;
      }

      p{
        margin: 0;
      }
    }
    .speed-rate {
      select {
        border: none;
        background-color: rgba(76, 77, 84, 0.4);
        border-radius: 8px;
        width: 80px;
        padding: 7px 15px;
        color: #8d8f98;
        appearance: none;
        background-image: url("../../assets/icon/arrow-down.svg");
        background-position: 80% center;
        background-repeat: no-repeat;

        &:focus {
          border: none;
          box-shadow: none;
          outline: none;
        }

        option{
          color: #fff;
        }
      }
    }
  }

  .progress-track {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #fff;
      margin: 0;
    }

    #track {
      --track-before-width: 0;

      appearance: none;
      background: rgba(0, 255, 163, 0.1);
      border-radius: 10px;
      position: relative;
      width: 100%;
      height: 10px;
      outline: none;

      //   Progress Track for Safari Browser

      &::-webkit-slider-runnable-track {
        background: rgba(0, 255, 163, 0.1);
        border-radius: 10px;
        position: relative;
        width: 100%;
        height: 10px;
        outline: none;
      }

      //   Progress Track for Firefox Browser

      &::-moz-range-track {
        background: rgba(0, 255, 163, 0.1);
        border-radius: 10px;
        position: relative;
        width: 100%;
        height: 10px;
        outline: none;
      }

      &::-moz-focus-outer {
        border: 0;
      }

      //   For Safari and Chrome
      &::before {
        content: "";
        height: 10px;
        width: var(--track-before-width);
        background-color: rgba(0, 255, 163, 0.5);
        // border-top-left-radius: 10px;
        // border-bottom-left-radius: 10px;
        border-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        cursor: pointer;
      }

      //   For Firefox

      &::-moz-range-progress {
        background-color: rgba(0, 255, 163, 0.5);
        // border-top-left-radius: 10px;
        // border-bottom-left-radius: 10px;
        border-radius: 10px;
        height: 10px;
      }

      //   Indicator for chrome and safai

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: none;
        background-color: #00ffa3;
        cursor: pointer;
        position: relative;
        margin: -2px 0 0 0;
        z-index: 3;
        box-sizing: border-box;
      }

      //   Indicator for Firefox

      &::-moz-range-thumb {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: transparent;
        background-color: #00ffa3;
        cursor: pointer;
        position: relative;
        z-index: 3;
        box-sizing: border-box;
      }
      &:active {
        &::-webkit-slider-thumb {
          transform: scale(1.2);
        }
      }
      &:active {
        &::-moz-range-thumb {
          transform: scale(1.2);
        }
      }
    }
  }
}
