.newslatter {
  background-image: url(../../assets/images/newslatter-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  .part-one {
    max-width: unset !important;
    margin-bottom: 30px !important;
  }
}
