.singleFeedback {
  .testimonial-company {
    filter: grayscale(100%) contrast(50%);
    opacity: 0.5;
    transition: all 0.3s linear;
  }
  &:hover {
    .testimonial-company {
      filter: grayscale(0) contrast(100%);
      opacity: 1;
    }
  }
}
