.subPageBanner {
  z-index: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .bannerContent {
    padding: 130px 0;
    .bannerInfo {
      max-width: 730px;
      .banner-desc {
        color: var(--clr-dark-2);
      }
      .banner-desc,
      .banner-heading {
        & > p {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    @media (min-width: 768px) {
      padding: 165px 0;
    }
    @media (min-width: 1200px) {
      padding: 11.9vw 0;
    }
  }
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #121316, rgba(18, 19, 22, 0.5));
    z-index: -1;
  }
  &._product-design-pageBanner,
  &._ui-design-pageBanner {
    &::after {
      display: none;
    }
  }
}
